
*{
    box-sizing: border-box;
}

body{
    background-color: black;
}


.pageGrid{
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 10px;
    margin-top: 60px;
    width: 75%;
    margin: auto;
    margin-top: 10%;
}

.grid-item{
    padding: 20px;
    border: 2px solid black;
    height: 70vh;
    background-color: grey;
}

.grid1 > .newToDo{
    background-color: blue;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.grid1 > .enter{
    background-color: red;
}

.enterClear{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 90%;
}

.enterClear > .enter{
    background-color: green;
}

.enterClear > .clear{
    background-color: red;
}

button{
    width: 70px;
    height: 35px;
    color: white;
}

.grid1 > #formContainer{
    height: 50%;
    display: block;
    margin-top: 20%;
    margin-left: 25%;

}

#priority{
    position: relative;
    top: 40%;
    text-align: center;;
}

#details{
    position: relative;
    top: 10%;
    height: 40%;
    width: 180px;
    height: 70px;
}

#dueDate{
    position: relative;
    top: 25%;
    margin-left: 8%;
}

.grid2{
    display: flex;
    justify-content: space-between;
}

.grid2 > * {
    background-color: white;
    width: 30%;
    height: 90%;
    border: 1 px solid black;  
    margin-top: 10%;
}

#column2Heading{
    position: relative;
    top: 10px;
}

#column2Heading{
    height: 4%;
    color: red;
    position: relative;
    font-size: large;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}



